<% include header.ejs%>
<div class="container">
<h3>Insert Language</h3>
<hr/>
<div class="alert">
<%- messages().toString()%>
</div>
<p class="red-text">Enter Language</p>
<div class="row">
<form class="col s12" method="POST" action="/admin/insertlang">
<div class="row">
<div class="input-field col s12">
  <input id="lang" type="text" class="validate" name="lang" placeholder="Enter Language" required>
  <label for="password">Language</label>
</div>
</div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>
      

</form>
</div>
</div>
<% include footer.ejs%>